application:
  host: 0.0.0.0
  port: 1323
  readTimeout: 10
  writeTimeout: 10
  gracefulShutdownTimeout: 10

facebook:
  clientId: ''
  clientSecret: ''
  graphURL: https://graph.facebook.com/v4.0 # optional, you can change according to your requirement
  oauth:
    url: https://www.facebook.com/v4.0/dialog/oauth # optional, you can change according to your requirement
    redirectUri: http://localhost:1323/login/oauth2/facebook/callback
    scope: email
    fields: 'id,first_name,last_name,email,birthday,location'

google:
  clientId: ''
  clientSecret: ''
  apiUrl: https://www.googleapis.com/oauth2 # optional, you can change according to your requirement
  oauth:
    url: https://accounts.google.com/o/oauth2 # optional, you can change according to your requirement
    tokenUrl: https://oauth2.googleapis.com/token # optional, you can change according to your requirement
    redirectUri: http://localhost:1323/login/oauth2/google/callback
    scope: 'https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile'